<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <title>Criptohoje</title>
    <meta charset="utf-8">
    <meta name="description" content="Cotações de criptomoedas em Reais">
    <meta name="keywords" content="bitcoin,litecoin,ethereum,ripple,raiblocks,tron">
    <meta name="author" content="Bruno Lellis">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="criptos.css">
</head>
<body>
    <div id="app">

        <div class="container u-max-full-width">
            <div class="row">
                <div class="twelve columns">R$ <input id="brl" v-model="brl"> <button v-on:click="convertFromBRL">Converter</button><br/></div>
            </div>

            <div class="row coin-row" v-for="moedas in chunkedCoins">
                <moeda v-for="moeda in moedas" :key="moeda.token" :moeda="moeda"></moeda>
            </div>
        </div>
        
    </div>
<!-- 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script type="text/javascript" src="chunk.js"></script>
<script type="text/javascript" src="criptos.js"></script>
</body>

</html>